Script simple de Iris (cargar, limpiar, one-hot y MinMax), el requirements.txt mínimo es:
Librerias:
- pandas==2.2.2
- scikit-learn==1.4.2
- numpy==1.26.4   # explícito por compatibilidad
- jupyter==1.0.0
- ipykernel==6.29.5
- matplotlib==3.8.4
- seaborn==0.13.2



