name: Proyecto completo

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r Requirements_Iris.txt

      - name: Ejecutar Preprocesamiento
        run: python Pocesamiento_Iris.py
